<!DOCTYPE html>
<html>
<head>
    <title>Deck Builder</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <%- include('partials/navigation') %>
    <div class="container">
        <h1>Create a new deck</h1>
        <form id="deck-form" action="/deckbuilder" method="post">
            <div class="form-group">
                <label for="name">Deck Name:</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label for="question">Add First Question:</label>
                <input type="text" class="form-control" id="question" name="question" required>
            </div>
            <div class="form-group">
                <label for="answer">Add Answer to First Question:</label>
                <input type="text" class="form-control" id="answer" name="answer" required>
            </div>
            <button type="submit" class="btn btn-primary">Create Deck</button>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>