<!DOCTYPE html>
<html>
  <head>
    <title>Ghetto Quizlet: Like Quizlet, but worse!</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  </head>
  <body>
    <%- include('partials/navigation') %>
    <div class="container text-center">
      <h1>Ghetto Quizlet: Like Quizlet, but worse!</h1>
      <p>Welcome to Ghetto Quizlet: I got like 2 good features on here and it doesn't look very good!</p>

      <div class="mt-5">
        <p class="lead">Have an account? <a href="/login" class="btn btn-primary">Log in here</a></p>
        <p class="lead">Don't have an account? <a href="/signup" class="btn btn-success">Sign up now!</a></p>
        <p> or if logged in use the navbar to access our features!</p>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html>